@import '~office-ui-fabric-react/dist/sass/References.scss';


.sliderWidget {
  margin: 0;

    div[class*='buttonsOnlyContainer'] i, div[class*='buttonsOnlyContainer'] i {
      font-size: 25px !important;
      color:white !important;
    }
  .carouselImageContent {
    height: 400px;
    width: 100%;
    margin: auto;
    
    div[class*='details'] {
      display: none;
      top: 70% !important;
      height: 0% !important;
    }

  }

  
}
.loader {
  text-align: center;
  justify-content: center;
}

.error {
  color: #721c24;
  background-color: #f8d7da;
  border: 1px solid #fc9fa9;
  padding: 10px;
  border-radius: 5px;
}